<!DOCTYPE html>
<html>
<head>
    <title>Environmental</title>

    <!-- Bootstrap -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=1920-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

</head>
<body>

<header>
    <div class="env-header">
        <div class="head-content">
            <div class="head-title">
                <p><i class="fa fa-chevron-circle-left" aria-hidden="true" onclick="window.location.href='home.html'"></i> Environmental Data</p>
            </div>
            <div class="head-buttons">
                <button class="head-btn-active">Data</button>
                <button class="head-btn">Documentation</button>
                <button class="head-btn">Get API Keys</button>
            </div>
        </div>
    </div>
</header>



<!--TABLES starting here-->
    <div class="wrap-table100">
        <table>
            <thead>
            <tr class="table100-head">
                <th class="column1">Date</th>
                <th class="column2">Order ID</th>
                <th class="column3">Name</th>
                <th class="column4">Price</th>
                <th class="column5">Quantity</th>
                <th class="column6">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="column1">2017-09-29 01:22</td>
                <td class="column2">200398</td>
                <td class="column3">iPhone X 64Gb Grey</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-28 05:57</td>
                <td class="column2">200397</td>
                <td class="column3">Samsung S8 Black</td>
                <td class="column4">$756.00</td>
                <td class="column5">1</td>
                <td class="column6">$756.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-26 05:57</td>
                <td class="column2">200396</td>
                <td class="column3">Game Console Controller</td>
                <td class="column4">$22.00</td>
                <td class="column5">2</td>
                <td class="column6">$44.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-25 23:06</td>
                <td class="column2">200392</td>
                <td class="column3">USB 3.0 Cable</td>
                <td class="column4">$10.00</td>
                <td class="column5">3</td>
                <td class="column6">$30.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-24 05:57</td>
                <td class="column2">200391</td>
                <td class="column3">Smartwatch 4.0 LTE Wifi</td>
                <td class="column4">$199.00</td>
                <td class="column5">6</td>
                <td class="column6">$1494.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-23 05:57</td>
                <td class="column2">200390</td>
                <td class="column3">Camera C430W 4k</td>
                <td class="column4">$699.00</td>
                <td class="column5">1</td>
                <td class="column6">$699.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-22 05:57</td>
                <td class="column2">200389</td>
                <td class="column3">Macbook Pro Retina 2017</td>
                <td class="column4">$2199.00</td>
                <td class="column5">1</td>
                <td class="column6">$2199.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-21 05:57</td>
                <td class="column2">200388</td>
                <td class="column3">Game Console Controller</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-19 05:57</td>
                <td class="column2">200387</td>
                <td class="column3">iPhone X 64Gb Grey</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-18 05:57</td>
                <td class="column2">200386</td>
                <td class="column3">iPhone X 64Gb Grey</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-22 05:57</td>
                <td class="column2">200389</td>
                <td class="column3">Macbook Pro Retina 2017</td>
                <td class="column4">$2199.00</td>
                <td class="column5">1</td>
                <td class="column6">$2199.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-21 05:57</td>
                <td class="column2">200388</td>
                <td class="column3">Game Console Controller</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-19 05:57</td>
                <td class="column2">200387</td>
                <td class="column3">iPhone X 64Gb Grey</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            <tr>
                <td class="column1">2017-09-18 05:57</td>
                <td class="column2">200386</td>
                <td class="column3">iPhone X 64Gb Grey</td>
                <td class="column4">$999.00</td>
                <td class="column5">1</td>
                <td class="column6">$999.00</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>























<!--Here starts the footer-->

<footer>
    <div class="footer-content">
        <div class="f1">
            <div class="footer-logo"></div>
            <p class="footer-txt">We Provide Standardized, <br>Alpha generating <br>ESG data</p>
        </div>

        <div class="f2">
            <p class="f2-title">Corporate Contacts</p>
            <p class="contact-location"><i class="fa fa-map-marker" aria-hidden="true"></i>17 Idylwilde Rd. Lexington, MA, 02421</p>
            <p class="contact-phone"><i class="fa fa-phone" aria-hidden="true"></i>+1(781)363-3287</p>
            <p class="contact-email"><i class="fa fa-envelope-o" aria-hidden="true"></i>hello@dataesg.com</p>
        </div>
        <div class="f3">
            <div class="f3-title">Products</div>
            <a href="#"><p class="f3-links">Environmental Data</p></a>
            <a href="#"><p class="f3-links">Governance Data</p></a>
            <a href="#"><p class="f3-links">Social Data</p></a>
        </div>
        <div class="f4">
            <div class="f4-title">DATAESG</div>
            <a href="#"><p class="f4-links">Contact</p></a>
            <a href="#"><p class="f4-links">Help Center</p></a>
        </div>
    </div>


    <div class="footer-low">
        <div class="share-bar">
            <p class="share-txt">Share our page let us be happier</p>
            <div class="share-icons">
                <a href="https://linkedin.com" target="_blank" class="linkedinn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com" target="_blank" class="twitterr"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer-copyright">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2020 DATAESG. All rights reserved.</p>
        </div>
    </div>
</footer>


<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>